{% extends "base.html" %}

{% block content %}

<div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Hungry?</h1>
        <p class="lead my-3">Find the best places to eat in your city.</p>
        
        <form action="/search" method="get" class="d-flex gap-2">
            <input type="text" name="cuisine" class="form-control" placeholder="Cuisine (e.g. Pizza, Asian)...">
            <button type="submit" class="btn btn-primary">Find</button>
        </form>
    </div>
</div>

<h2>My Favorites</h2>
<hr>
{% endblock %}