{% extends "base.html" %}

{% block content %}
<div class="p-5 mb-4 bg-white rounded-3 shadow-sm text-center">
    <h1 class="display-5 fw-bold">Welcome to FindMyMeal</h1>
    <p class="col-md-8 fs-4 mx-auto">The best way to discover restaurants.</p>
    
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/auth/register" class="btn btn-primary btn-lg px-4 gap-3">Get Started</a>
        <a href="/auth/login" class="btn btn-outline-secondary btn-lg px-4">Login</a>
    </div>
</div>
{% endblock %}